<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>wuzi的随想</h2>
        </header>
        <p>Hi 我是杨武 <strong>Twenty</strong>, 是一个热爱生活的程序员
        <br />
        你也热爱生活么，那么跟我一起去看这美丽的世界吧</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
            </ul>
        </footer>

    </div>

</section>